<section>
  <h1>Friends links</h1>
  <ul>
      <li><a href="http://blog.yufeng.info/?from=lizi" title="erlang非业余研究" target="_blank">erlang非业余研究</a></li>
      <li><a href="http://zhuzhaoyuan.com/?from=lizi" title="叔度个人博客">叔度个人博客</a></li>
      <li><a href="http://www.imagerabit.com/?from=lizi" title="图像兔" target="_blank">图像兔</a></li>
      <li><a href="http://rdc.taobao.com/blog/cs/?from=lizi" title="淘宝核心系统博客" target="_blank">淘宝核心系统博客</a></li>
      <li><a href="http://www.dutor.net/?from=lizi" title="甘雨妹纸的博客">甘雨妹纸</a></li>
      <li><a href="http://blog.neveray.info/?from=lizi" title="那岩个人博客" target="_blank">那岩个人博客</a></li>
      <li><a href="http://www.pagefault.info/?from=lizi" title="雕梁nginx和内核" target="_blank">雕梁nginx和内核</a></li>
  </ul>
</section>
