// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.categories a {
    color: #2F63B3;
    text-decoration: none;
    outline-style: none;
    cursor: auto;
}

.categories a:hover {
    color: #0040FF;
    text-decoration: underline;
}

.meta a {
    color: #2F63B3;
    text-decoration: none;
    outline-style: none;
    cursor: auto;
}

.meta a:hover {
    color: #0040FF;
    text-decoration: underline;
}

.entry-content ol {
    padding-left: 20px;
}

#content > div > article, body #content > div > section {
    padding-left: 0px;
    padding-right: 0px;
}
